server {
  listen 8080;
  location / {
    # serve from here
    root /usr/share/nginx/html;
    # list more than one filename in the index directive.
    # NGINX searches for files in the specified order and
    # returns the first one it finds.
    index index.html index.htm;
    # First attempt to serve request as file,
    # then as directory,
    # then redirect to index(angular) if no file found,
    # then fall back to displaying a 404.
    try_files $uri $uri/ /index.html =404;
  }
}
